body{
    min-width: 360px;
}

.bg-grey,main{
    background-image: url('./../images/bg_img.jpg');
    margin-top: 5%;
    width: 90%;
}

.all-blogs-img{
    width: 90%!important;
    max-height: 300px;
}

.show-img{
    width: 75%!important;
    height: 400px;
}

/* Media Queries */
/* // Large devices (desktops, more than 1200px) */
@media (min-width: 1199.98px) {

    .bg-grey,.show-main,main{
        margin-top: 5%;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .bg-grey,.show-main,main{
        margin-top: 7%;
    }
    h2, h3, h4, h5, h6 {
        font-size: x-large;    
        margin-bottom: .1rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }
 }

 /* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    p{
        font-size:large;
    }
    .bg-grey,.show-main,main{
        margin-top: 9%;
    }
    
    h2, h3, h4, h5, h6 {
        font-size: large;    
        margin-bottom: .1rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }    
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    .show-img{
        width: 75%!important;
        height: 200px;
    }
    p{
        font-size: large;
    }
    .bg-grey,.show-main,main{
        margin-top: 13%;
    }
    h2, h3, h4, h5, h6 {
        font-size: larger;    
        margin-bottom: .1rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }
 }

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    p{
        font-size: small;
    }
    .bg-grey,.show-main,main{
        margin-top: 16%;
    }
    h2, h3, h4, h5, h6 {
        font-size: large;    
        margin-bottom: .1rem;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        color: inherit;
    }
}