
    <footer class="footer mt-auto py-3 bg-secondary rounded">
        <div class="container text-white text-center">
            <a class="text-white" href="mailto:sidp0008@gmail.com">Contact us</a>
            &nbsp;&nbsp;&nbsp;
            <a class="text-white" href="/privacy_policy">Privacy Policy</a>
            &nbsp;&nbsp;&nbsp;
            <a class="text-white" href="/terms_and_conditions">Terms & Conditions</a>
            &nbsp;&nbsp;&nbsp;
        </div>
        <div class="footer-copyright text-center text-white py-3">© 2021 Copyright:
          <a class="text-white text-decoration-none" href="http://localhost:3000/blogs"> localhost:3000/blogs</a>
        </div>
    </footer>