<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-secondary rounded">
        <div class="container-fluid">
          <a class="navbar-brand text-white" href="/blogs">
            <img src="https://simg.nicepng.com/png/small/232-2326770_icon-blogger-logo-now-creative-group-logo.png" 
                width="40" height="40" 
                class="d-inline align-top bg-white rounded mx-1" alt="app-icon">
            <p class="text-white d-inline mt-0 font-weight-bold align-middle"><strong>BloG-It-NoW</strong></p></a>
          <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-white"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/blogs">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/blogs/new">New</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>