<div class="position-fixed p-1" style="z-index: 1040; bottom: 8%; width: 90%;">
    <div id="liveToast" class="toast hide bg-white mx-auto" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
      <div class="toast-header justify-content-between">
        <img src="./../../../assets/images/todo_list_icon.png" class="rounded mr-1" alt="..." width="30" height="30">
        <strong class="mr-auto">To-List-App</strong>
        <small class="w-50 text-end">Just now</small>
      </div>
      <div class="toast-body text-primary">
        {{currentToastMsg}}
      </div>
    </div>
</div>
