body{
    min-width: 380px;
}

/* Header */

/* Main Content */
.slider-section{
    margin-top: 6%;
}

.carousel-caption{
    top:10%
}

section{
    margin: 3% 0.5% 0.5% 0%;
    padding: 20px;
    background: white;
    border-radius: 20px;
}

/* Media Queries */
/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    *{
        font-size: large;
    }
    .slider-section{
        margin-top: 6%;
    }
 }

 /* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    *{
        font-size: medium;
    }
    .slider-section{
        margin-top: 8%;
    }
 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    *{
        font-size: small;
    }
    .slider-section{
        margin-top: 10%;
    }
 }

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    *{
        font-size: x-small;
    }
    .slider-section{
        margin-top: 12%;
    }
 }