
<header>
  <!-- Fixed Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      &nbsp;<img src="./assets/images/todo_list_icon.png" width="30" height="30" 
      class="d-inline-block align-top bg-white rounded" alt="ToDoList icon">
      <p class="text-white d-inline mt-0 font-weight-bold">&nbsp;&nbsp;{{title}}</p>
    </a>
  </nav>
</header>
<main class="p-1">
  <section class="p-1">
    <div class="container text-white text-center">
      <app-to-do-list></app-to-do-list>
    </div>
  </section>
</main>
<footer class="bg-primary fixed-bottom text-center pt-2">
<p class="text-white">This app has been made using Angular framework. You can get its source code <a href="https://github.com/SidP919/Web-Development/tree/master/Angular/to_do_list" target="_blank" class="text-white">here</a></p>
</footer>