<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List</title>
</head>
<body class="container-fluid p-2 bg-primary">
  <header>
    <h1 class="text-white">To Do List</h1>
  </header>
  <main class="text-center text-white bg-danger m-1">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, nobis fuga ab doloribus itaque autem tempora quod vero accusantium eos repudiandae alias! Impedit nostrum nobis omnis. Fuga sapiente beatae ea ab. Vitae, ullam neque saepe reiciendis ea mollitia nostrum hic quasi adipisci delectus commodi dicta molestiae doloribus aut in voluptatibus.</p>
  </main>
  <footer class="bg-primary">
  <p class="text-white">This app has been made using Angular framework.</p>
  </footer>
</body>
</html>