
<header>
  <!-- Fixed Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
      &nbsp;<img src="./assets/images/todo_list_icon.png" width="30" height="30" 
      class="d-inline-block align-top bg-white rounded" alt="ToDoList icon">
      <p class="text-white d-inline mt-0 font-weight-bold">&nbsp;&nbsp;{{title}}</p>
    </a>
  </nav>
</header>
<main class="p-1">
  <section class="p-1">
    <div class="text-center text-white bg-danger m-1">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, nobis fuga ab doloribus itaque autem tempora quod vero accusantium eos repudiandae alias! Impedit nostrum nobis omnis. Fuga sapiente beatae ea ab. Vitae, ullam neque saepe reiciendis ea mollitia nostrum hic quasi adipisci delectus commodi dicta molestiae doloribus aut in voluptatibus.</p>
    </div>
  </section>
</main>
<footer class="bg-primary fixed-bottom text-center pt-2">
<p class="text-white">This app has been made using Angular framework. You can get its source code <a href="https://github.com/SidP919/Web-Development/tree/master/Angular/to_do_list" target="_blank" class="text-white">here</a></p>
</footer>