<div class="border border-white border-3 bg-primary rounded-3 p-1 m-1">
    <h4 class="d-inline-block form-control-sm">{{toDoItem.srNo}}-&nbsp;<u>{{toDoItem.title}}</u></h4>
    <p class="form-control-sm">{{toDoItem.desc.substring(0,64)}}...</p>
    <div class="container mb-1">
        <div class="row">
            <img src="./../../../assets/images/tick_symbol.png" class="col-lg-3 col-md-4 col-sm-5 col-xs-5 col-5 mx-auto d-inline-block" alt="Completed" />
            <img src="./../../../assets/images/delete-item-icon-png.png" class="col-lg-3 col-md-4 col-sm-5 col-xs-5 col-5 mx-auto d-inline-block" alt="Delete" />
        </div>
    </div>
</div>