<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>
<body>
    <h1>Edit Comment</h1>
    <form action="/comments/<%= comment.id %>?_method=PATCH" method="POST">
        <textarea name="body" id="body" cols="30" rows="10"><%= comment.body %> </textarea>
        <br>
        <h3>Username: <%= comment.username %></h3>
        <button>Submit</button>
    </form>
</body>
</html>