<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Details</title>
</head>
<body>
    <h1>Comment Details:</h1>
    <p><strong>Comment ID: </strong><%=comment.id%></p>
    <p><strong>Comment Creator: </strong><%=comment.username%></p>
    <p><strong>Comment: </strong><%=comment.body%></p>
</body>
</html>