<div class="my-3">
    <h3 class="text-primary text-start"><u>Add Tasks:</u></h3>
</div>
<app-add-to-do-item (addToDo)="addToDo($event)"></app-add-to-do-item>
<div class="my-2">
    <h3 class="text-primary text-start"><u>Tasks to be completed:</u></h3>
</div>
<div *ngIf="this.todosArr.length===0; else elseBlock">
    <h5 class="text-start text-primary ms-3">No Tasks to display.</h5>
    <script>console.log("No Tasks to Display.")</script>
</div>
<ng-template #elseBlock>
    <div class="container">
        <div class="row">
            <div *ngFor="let todo of todosArr" class="col-lg-3 col-md-4 col-sm-4 col-6 mb-2 todo-size">
                <app-to-do-item [toDoItem] = "todo" (todoDeleteEmitter)="deleteTodo($event)"></app-to-do-item>
            </div>
        </div>
    </div>
</ng-template>
<br>
<br>
<br>
