<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{SubR}}</title>
</head>
<body>
    <h1>This is {{SubR}} Subreddit.</h1>
    <h4>Below is an Array named SubredditArray:</h4>
    <ul>
        {{#each SubredditArray}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</body>
</html>