html{
    background-color: black;
}

button{
    width: 5vw auto;
    min-width: 100px;
    max-width: 500px;
    margin: 45vh 43vw;
    padding: 1vh 2vw;
    border: 2px solid darkorange;
    background-color: black;
    color: darkorange;
}

button:hover{
    background-color: black;
    border:2px solid lawngreen;
    color: white;
    box-shadow: 0px 4px 4px -2px lawngreen;
    position:relative;
    bottom: 4px;
}


