<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GET-POST-req Form</title>
</head>
<body>
    <h1>GET-POST-req Form</h1>
    <br>
    <h3>GET:</h3>
    <form action="/user" method="GET">
        <input type="text" name="username" placeholder="UserName">
        <input type="number" name="age" placeholder="Age">
        <button>Submit</button>
    </form>
    <br><br>
    <h3>POST:</h3>
    <form action="/user" method="POST">
        <input type="text" name="username" placeholder="UserName">
        <input type="number" name="age" placeholder="Age">
        <button>Submit</button>
    </form>
</body>
</html>